script(type="text/ng-template", id="newTermModal.jade").
  div(class="modal-header")
    h3 Delete?
  div(class="modal-footer")
    button(class="btn btn-primary" ng-click="ok()") OK
    button(class="btn btn-warning" ng-click="cancel()") Cancel
