a(href='/main') Home
input(type="text", ng-model="title")
textarea(ck-editor, ng-model="doc")
//- textarea(ng-model="doc")
button(ng-click="save()") Save
button(ng-click="countWords()") Count
p {{count}}
p {{doc}}
