a(href="/register") Register
br
//- a(href="/logout", ng-click="logout()") Logout
form(ng-submit="submit()")
	//- label Username
	input(type="text", name="username", ng-model="test.username", placeholder="Username")
	//- label Password
	input(type="text", name="password", ng-model="test.password", placeholder="Password")
	input(type="submit", value="Login")
