<script type="text/ng-template" id="tree.html">
<span ng-if="doc.doc.type==='file'" id="file{{doc.doc.id}}" draggable>
<a href="" class="btn btn-default" ng-click="edit(doc.doc)"> {{doc.doc.title}}</a>
<span>  - </span>
<a href="" class="btn btn-danger btn-xs" ng-click="delete(doc.doc)"> Delete</a>
</span>
<span ng-if="doc.doc.type==='dir'" draggable droppable>
<accordion draggable>
<accordion-group>
<accordion-heading><a href="" id="dir{{doc.doc.id}}" class="dirTitle" draggable>{{doc.doc.title}}</a></accordion-heading>
<div ng-repeat="doc in doc.children" ng-include="'tree.html'" />
</accordion-group>
</accordion>
</span>
</script>

a(href="", class="btn btn-primary", ng-click="edit({id:'', path:'/'})") New Doc
accordion
	div(ng-repeat="doc in docs.children", ng-include="'tree.html'" droppable)
div(ng-if="!docs.children.length") No Documents
