<script type="text/ng-template" id="tree.html">
<span ng-if="doc.doc.type==='file'" class="fileSpan" id="file{{doc.doc.id}}" drag draggable="true">
<a href="" class="btn btn-default" ng-click="edit(doc.doc)" draggable="false"> {{doc.doc.title}}</a>
<span draggable="false">  - </span>
<a href="" class="btn btn-danger btn-xs" ng-click="delete(doc.doc)" draggable="false"> Delete</a>
<span>Last Edited: {{doc.doc.date}}</span>
</span>
<span ng-if="doc.doc.type==='dir'" drop>
<accordion>
<accordion-group>
<accordion-heading><a href="" id="dir{{doc.doc.id}}" class="dirTitle" drag>{{doc.doc.title}}</a></accordion-heading>
<div ng-repeat="doc in doc.children" ng-include="'tree.html'" />
</accordion-group>
</accordion>
</span>
</script>

a(href="", class="btn btn-primary", ng-click="edit({id:'', path:'/'})") New Doc
div(id="listContainer" drop) Root Folder
accordion
	div(ng-repeat="doc in docs.children", ng-include="'tree.html'" drop)
div(ng-if="!docs.children.length") No Documents
