p(ng-click="edit('')") New Doc
div(ng-repeat="doc in docs")
	a(href="", ng-click="edit(doc.id)") {{doc.title}}
	span  - 
		a(href="", ng-click="delete(doc)") Delete
div(ng-if="!docs.length") No Documents
