!!!
html(ng-app="write", ng-init="loggedIn=#{auth}")
  head
    meta(charset='utf8')
    base(href='/')
    title Write Something
    //- link(rel="stylesheet", type="text/css", href="/js/lib/markitup/skins/markitup/style.css")
    //- link(rel="stylesheet", type="text/css", href="/js/lib/markitup/sets/default/style.css")
    link(rel='stylesheet', href='/css/twitter-bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller='rootCtrl')
    a(href='/logout', ng-click="logout()", ng-if="$rootScope.loggedIn") Logout
    div(ng-view)

    //- script(src="/js/lib/markitup/jquery-1.8.min.js")
    //- script(src="/js/lib/markitup/sets/default/set.js")
    //- script(src="/js/lib/markitup/jquery.markitup.js")
    //- script(src='/js/lib/angular/angular.min.js')
    script(src='/js/lib/ckeditor/ckeditor.js');
    script(src='/js/lib/angular/angular.min.js')
    script(src='/js/lib/angular/angular-resource.min.js')
    script(src='/js/lib/angular/angular-route.min.js')
    script(src='/js/lib/ui-utils/ui-utils.js')
    script(src='/js/lib/angular-ui-bootstrap.min.js')
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    script(src='/js/filters.js')
    script(src='/js/directives.js')
    script(src='/js/markitupNG.js')
